PORT=3000
DOCUMENT360_CLIENT_ID=691162c4-8c4e-46fd-8824-6fae85c2713c-widget
DOCUMENT360_CLIENT_SECRET=tacU0Ntv1AKFPRjf49ISBzOeH14Lnm337Yu54-7iyHg
DOCUMENT360_WIDGET_ID=6e13f402-e8e1-4448-a5f3-95ec29beb0bf
DOCUMENT360_TOKEN_ENDPOINT=https://identity.document360.io/connect/token
DOCUMENT360_READER_GROUP_IDS=
DOCUMENT360_TOKEN_VALIDITY=900
DOCUMENT360_AUTHORIZED_ORIGIN=http://localhost:8000
